/* styling for all */
* {
    margin: 0;
    box-sizing: border-box;
}

h3, h2, p {
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'VT323', monospace; */
}
/* 
.backgroundImg {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top left;
} */

.hover:hover {
    color: white;
    text-shadow: 0 0 1rem yellow;
}