/* styling for all */
* {
    margin: 0;
    box-sizing: border-box;
}

h1, h3, h2, p {
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'VT323', monospace; */
}

.hover:hover {
    color: white;
    text-shadow: 0 0 1rem yellow;
}

.hoverLink:hover {
    color: #472C73;
    text-shadow: 0 0 3rem white;
}

.error-hover:hover {
    color: rgb(19, 18, 18);
    text-shadow: 0 0 1rem black;
}

body {
    background-image: url('./assets/background.png');
}


